.header {
  height: 6vh;
  padding:  1vh 6vw;
  background-color: yellow;
  display: flex;
  align-items: center;
}

.search {
  padding: 6px 1vw;
  font-size: 1em;
  margin-left: 5vw;
}

.body {
  height: 92vh;
  padding:  0 1vw;
  display: flex;
  flex-direction: row;
}

.nav-bar  {
  position: absolute;
  margin: 2vh 0;
  width: 12vw;
  height: 80vh;
  border-right: 1px solid black;
}

.nav-bar-menu {
  padding: 1vh 8px;
}

.selected-nav {
  background-color: yellow;
}

/* menu list */

.menu-list  {
  margin-left: 14vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 4vh 2vw  ;
}

.menu-item-box {
  height: 10vmax;
  width: 10vmax;
  display: flex;
  align-items: center;
  margin: 8px ;
  font-size: 14px;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 25%;
  color: white;
}

.not-available  {
  background-color: red;
}

.available  {
  background-color: green;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 2vh 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
} 

.button {
  padding: 2vh 4vw;
  background-color: yellow;
}
